* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#main {
  max-width: 60%;
  display: flex;
  margin: auto;
  flex-direction: column;
}
#heading {
  text-align: center;
  margin: 20px 0px;
}

#url-input {
  outline: none;
  border: 1px solid rgb(215, 215, 215);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
}
#submit-button {
  outline: none;
  border: none;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  background-color: rgb(113, 198, 141);
  color: white;
}
.disabled-button {
  background-color: rgba(113, 198, 141, 0.5) !important;
}

#error-box {
  text-align: center;
  color: rgb(150, 150, 150);
  font-weight: 700;
  font-size: 24px;
  margin-top: 20px;
}

.table-wrapper {
  width: 100%;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: rgba(113, 198, 141, 0.9);
  color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: rgba(113, 198, 141, 0.5);
}
@media screen and (max-width: 700px) {
  #main {
    max-width: 90%;
  }

  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    padding-left: 50%;
    text-align: left;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}

@media screen and (max-width: 1100px) {
  #main {
    max-width: 80%;
  }
}
